:root {
  --txt-dark-blue: #386AF1;
  --txt-main-darkblue: #0A0C2C;
  --txt-dark-grey: #6C6D80;
  --txt-light-grey: #9D9EAB;
  --txt-water-link: #7E7E7E;
  --txt-anti-flashlight: #F2F2F2;


  --bttn-active-lightblue: #EBEDF9;
  --bttn-submit-lightpurple: #99A3DE;
  --bttn-submit-disabled: #88a6f7;
  --bttn-delete-lightblue: #EBF0FE;
  --backgr-card-lightgrey: #EFEFF2;
  --backgr-card-lightgrey2: #F5F6FC;

  --white: #FFFFFF;
  --light_purple: #D6DAF2;
  --purple_percent: #5C6CCB;

  --error: #e53935;
}
