@import "colors";

.content--button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 100%;
  height: 48px;
  padding: 14px 20px;

  border: none;
  border-radius: 6px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  outline: 1px solid var(--txt-dark-blue);

  &.primary {
    background-color: var(--white);
    color: var(--txt-dark-blue);
  }

  &.raised {
    background-color: var(--txt-dark-blue);
    color: var(--white);

    &.disabled {
      cursor: not-allowed;

      background: var(--bttn-submit-disabled);
      color: var(--txt-anti-flashlight);
      outline: 1px solid var(--bttn-submit-disabled);
    }
  }

  &.tab-active {
    height: 40px;
    padding: 10px 20px;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    background: var(--bttn-delete-lightblue);
    outline-color: var(--bttn-delete-lightblue);
    color: var(--txt-dark-blue);
  }

  &.icon {
    position: relative;

    &--plus::before {
      content: "";

      width: 14px;
      height: 14px;
      margin-right: 13px;

      mask-image: url("@/assets/icons/plus.svg");
      background: var(--txt-dark-blue);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }
}

.sector-right {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

.option--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-left {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  &--title {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
  }
  &--subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--txt-light-grey);
  }

  &-right {
    .content--button {
      width: auto;
      height: 32px;
      padding: 6px 20px;

      &.icon--plus {
        &::before {
          background-color: white;
        }
      }
    }
  }
}
