@import "@/scss/reset.scss";
@import "@/scss/_fonts.scss";
@import "@/scss/_global.scss";

html, body, #app, #popup {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Inter, sans-serif;
}
